@import "tailwindcss";

*{
    padding: 0;
    margin: 0;

}
body{
    /* width: 100%;
    height: 100%; */
    background: #3d3d3d;
    /* overflow: hidden; */
}
/* 
.app{
    width: 100%;
    height: 100vh;
} */